@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Oregano:ital@0;1&display=swap");
@import "tailwindcss";

@layer base {
  body,
  legend {
    font-family: "Josefin Slab", serif;
    font-style: normal;
  }

  body::before {
    content: "";
    position: fixed;
    top: -10vh;
    left: -2.5vw;
    width: 105vw;
    height: 120vh;
    z-index: -1;
    background-color: black;
    background: #2a7b9b;
    background: linear-gradient(45deg, #0f766e 12%, #1f2d2e 44%, #000000 70%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.75;
    filter: blur(4px);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .font-new {
    font-family: "Oregano", cursive;
    font-weight: 800;
  }
}

@layer base {
  :focus-visible {
    @apply rounded-lg outline-dashed outline-3 outline-offset-2 outline-pink-400;
  }
}

@layer components {
  /*
  ==============================================================
  Main react-datepicker container
  ==============================================================
  */
  .datepicker-custom-class .react-datepicker {
    @apply w-full;
  }

  .react-datepicker__month-container {
    @apply w-full !border-1 !border-teal-500 rounded;
  }

  /*
  ==============================================================
  Navigation react-datepicker container 
  ==============================================================
  */
  .datepicker-custom-class .react-datepicker__navigation {
    @apply m-2 rounded-full;
  }
  .datepicker-custom-class .react-datepicker__navigation--previous {
    @apply !flex !items-center !justify-center;
  }
  .datepicker-custom-class .react-datepicker__navigation-icon--next::before {
    @apply scale-100;
  }

  .datepicker-custom-class .react-datepicker__navigation-icon--next::before,
  .datepicker-custom-class .react-datepicker__navigation-icon--previous::before {
    @apply scale-150 !border-blue-300 hover:!border-blue-500;
  }

  /*
  ==============================================================
  Header react-datepicker container  
  ==============================================================
  */
  .datepicker-custom-class .react-datepicker__header {
    @apply pt-4 bg-neutral-50 !border-b !border-b-neutral-200 select-none;
  }

  .datepicker-custom-class .react-datepicker__current-month {
    font-family: "Josefin Slab", serif;
    @apply w-full !text-2xl;
  }

  /*
  ==============================================================
  Weekdays react-datepicker container
  ==============================================================
  */

  .datepicker-custom-class .react-datepicker__day-names {
    display: table-row;
    @apply text-lg flex justify-center !bg-neutral-100 !border-b !border-b-neutral-400 select-none;
  }

  .datepicker-custom-class .react-datepicker__day-name {
    @apply font-semibold !leading-9 last-of-type:!text-red-600;
  }

  /*
  ==============================================================
  Days react-datepicker container
  ==============================================================
  */
  .datepicker-custom-class .react-datepicker__week {
    @apply !flex items-center justify-center;
  }

  .datepicker-custom-class .react-datepicker__day--today {
    @apply !relative;
  }
  .datepicker-custom-class .react-datepicker__day--today::after {
    content: "";
    @apply !absolute !w-1.5 !h-1.5 !rounded-full !bg-red-500 !bottom-[2.5px] !right-1/2 !translate-x-1/2;
  }

  .datepicker-custom-class .react-datepicker__month {
    @apply !py-6;
  }
  .datepicker-custom-class .react-datepicker__day,
  .datepicker-custom-class .react-datepicker__day-name {
    font-family: "Josefin Slab", serif;
    @apply !w-9 md:!w-12 lg:!w-9 xl:!w-12 !h-9 !drop-shadow-sm !drop-shadow-black/20;
  }

  .datepicker-custom-class .react-datepicker__day--disabled {
    @apply !drop-shadow-none;
  }
  .datepicker-custom-class .react-datepicker__day {
    @apply text-lg !leading-10 !rounded  !bg-teal-50;
  }

  .datepicker-custom-class .react-datepicker__day--outside-month {
    @apply !bg-gray-50 !text-gray-400 !outline-none;
  }

  /*
  ==============================================================
  Custom styling for react-datepicker
  ==============================================================
  */

  .datepicker-custom-class .react-datepicker__day--in-range,
  .datepicker-custom-class .react-datepicker__day--in-selecting-range {
    @apply !bg-blue-200 !text-black;
  }

  .datepicker-custom-class .react-datepicker__day--selected {
    @apply !text-black !outline-blue-600 !outline-1;
  }

  .datepicker-custom-class .react-datepicker__day--range-start,
  .datepicker-custom-class .react-datepicker__day--range-end {
    @apply !bg-blue-400/80 !text-black;
  }

  .datepicker-custom-class .react-datepicker__day:not(.react-datepicker__day--disabled):not(.booked-day):hover {
    @apply !bg-teal-400/50 hover:!text-black;
  }
  .datepicker-custom-class .react-datepicker__day--disabled {
    @apply !bg-white !text-neutral-300 !outline-none;
  }

  .datepicker-custom-class .booked-day {
    @apply !bg-red-300 !text-red-800 rounded pointer-events-none !opacity-50;
  }
}

@media (min-width: 480px) {
  .grid-480-break {
    grid-template-columns: 1fr 1fr;
    gap: 8px;
  }
}
