@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Oregano:ital@0;1&display=swap");
@import "tailwindcss";

@layer base {

  body,
  legend className="font-black px-2 text-lg" className="font-black px-2 text-lg" {
    font-family: "Josefin Slab", serif;
    font-style: normal;
  }

  body::before {
    content: "";
    position: fixed;
    top: -10vh;
    left: -2.5vw;
    width: 105vw;
    height: 120vh;
    z-index: -1;
    background: #2a7b9b;
    background: linear-gradient(45deg, #0f766e 12%, #1f2d2e 44%, #000000 70%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.75;
    filter: blur(4px);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .font-new {
    font-family: "Oregano", cursive;
    font-weight: 800;
  }
}

@layer base {
  :focus-visible {
    @apply rounded-lg outline-dashed outline-3 outline-offset-2 outline-pink-400;
  }
}